uwb_pub_node:
  ros__parameters:
    port_name: "/dev/uwb"   # UWB 连接的串口端口
    baud_rate: 115200           # 波特率
    frame_id: "camera_link"        # UWB消息的frame_id
    uwb_pub: "/uwb/data"      # 发布的UWB话题名称

uwb_imu_fusion:
  ros__parameters:
    # ==========================
    # 1. ROS 通信配置
    # ==========================
    topics:
      imu_sub: "/egg_hw/imu"        # 订阅：IMU话题名称
      uwb_sub: "/uwb/data"        # 订阅：UWB话题名称（由uwb_pub_node发布）
      odom_pub: "/odometry/filtered" # 发布：融合后的里程计话题
    
    frames:
      world_frame_id: "map"       # 基站所在的固定坐标系 (Anchor Frame)
      body_frame_id: "camera_link"  # 机器人本体坐标系 (Body Frame)

    # ==========================
    # 2. 硬件/串口配置
    # ==========================

    NLOS:
      nlos_q_threshold: 10.0            # NLOS 判定阈值 (根据实际环境调整)

    algorithm_type: "eskf"  # 可选：eskf / graph

    visualization:
      show_raw_uwb_position: true
      show_anchors: true

    eskf:
      acc_noise_std: 0.1
      gyro_noise_std: 0.05
      acc_bias_walk_std: 0.01
      gyro_bias_walk_std: 0.01
      uwb_noise_std: 0.20
      # 【新增】Bias 限幅阈值
      acc_bias_limit: 0.1        # 加速度计偏置限幅，单位：m/s²
      gyro_bias_limit: 0.1       # 陀螺仪偏置 限幅，单位：rad/s
      ZUPT_acc_limit: 0.025           # 速度限幅，单位：m/s
      ZIHR_limit: 0.1         # 角速度限幅，单位：rad
      ZUPT_velocity_limit: 0.3         # ZUPT 速度观测值，单位：m/s
      mahalanobis_threshold: 11.35      # 马氏距离阈值


    # ==========================
    # 3. 基站 (Anchors) 配置
    # ==========================
    # 格式：[x, y, z] 单位：米
    anchors:
      A0: [0.0, 0.0, 0.0]
      A1: [0.0, 5.89, 0.0]
      A2: [3.355, 5.89, 0.0]
      A3: [1.645, 1.525, 0.0]